<footer>
    <a href="https://twitter.com/BlakeJakely" target="_blank" class="social twitter"></a>
    <a href="https://www.linkedin.com/in/jakeblakeley/" target="_blank" class="social linkedin"></a>
    {# <a href=""  target="_blank" class="social messenger"></a> #}
</footer>

<p class="bottomOfPageText">You made it to the bottom, good job you!</p>
