<nav>
  {# {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul> #}
  <ul>
    <li><a href="/index.html#ARglasses">Work</a></li>
    <li><a href="/index.html#services">Skills</a></li>
    <li><a href="/index.html#about">About</a></li>
    
  </ul>
</nav>
