<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<a class="websiteName"href="/index.html#intro">
				Jake.ly
				{# <span class="WIPbanner">BETA</span> #}
			</a>
			{% include "components/nav.njk" %}
			<a class="CTA" href="https://forms.gle/PQMAg7o8J9WzseFL9" target="_blank"><button class="primary">Let's Chat</button></a>
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
