<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em class="websiteName">
				<a href="{{ '/' | url }}">Jake.ly</a>
			</em>
			{% include "components/nav.njk" %}
			<button class="primary">Let's Chat</button>
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
