---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
{{ layoutContent | safe }}

<h2 id="blogTitle">The Blog</h2>
{% set postslist = collections.blog %}
{% include "components/postslist.njk" %}
